.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Damit die Navbar immer oben bleibt */
}

.headline {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 1;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.menu-container {
  position: relative;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  top: 100%;
  left: -1rem;
  background-color: #ea1515;
  width: 150px;
  text-align: left;
}

.nav-links.open {
  display: flex;
}

.link {
  color: #fff;
  text-decoration: none;
}

.nav-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .link {
    padding: 1rem;
    border-top: 1px solid #444;
  }
}

.content {
  padding-top: 4rem;
}
